header {
  width: 100%;
  .headercon{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding-top: 20px;
  h2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: rgb(149, 117, 84);
  }
  div {
    margin-top: 40px;
    width: 48%;
    img {
      width: 100%;
      border-radius: 20px;
      height: 100%;
      object-fit: cover;
    }
    h2{
        width: 100%;
        text-align: start;
    }
    h3{
        color:black;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
    }
    button{
        background-color: rgb(223, 170, 91);
        color: white;
        border: none;
        height: 50px;
        width: 150px;
        font-size: 16px;
        z-index: 100;
        border-radius: 10px;
    }
    display: flex;
    flex-direction: column;
    align-items:self-start;
    justify-content: space-evenly;
  }
}}
@media screen and (max-width:1000px) {
    header {
        width: 100%;
        .headercon{
          gap: 10px;
          padding-top: 10px;
        div {
         flex: 1 1 calc(100% - 10px);
          max-width: 100%;
          margin-top: 10px;
          height: 500px;
        }
      }}
  }
  @media screen and (max-width:400px) {
    header {
        width: 100%;
        .headercon{ 
          padding-top: 10px;
        div {
         flex: 1 1 calc(100% - 10px);
          max-width: 100%;
          margin-top: 10px;
          justify-content: center;
          gap: 10px;
          h3{
            font-size: 20px;
        }
        }
        
      }}
  }
  